.banner .row {
    height: 100vh;
    margin-top: 0;
    justify-content: center;
}

.banner .row .video-wrapper {
    width: 60%;
}

@media (max-width: 560px) {
    .banner .row {
        height: fit-content;
        margin-top: 100px;
        justify-content: flex-start;
    }
}